/* ----------------------------------------------------max-width:1392px--------- */


/* /* 
@media screen and (max-width:1392px) {
    /* --------------------------.header start */

.header {
    width: 100%;
    min-height: 130px;
    padding-top: 25px;
    padding-right: 60px;
    padding-bottom: 25px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px !important;
    padding: 12px 24px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
}


/* --------------------------.header end */


/* ----------------------------------------------------- max-width:1258px-------*/

@media screen and (max-width:1258px) {}


/* ----------------------------------------------------- max-width:1108px-------*/

@media screen and (max-width:1108px) {
    /* --------------------------.header start */
    .burger {
        display: flex !important;
    }
    .chef-image {
        display: none;
    }
    #mainNav {
        display: none;
    }
    .hero-image {
        display: none;
    }
    #city-popup {
        width: 327px;
        height: 135px;
        border-radius: 30px;
        display: none;
        position: absolute;
        top: 110px;
        margin-left: 50%;
        transform: translateX(-50%);
        background: var(--White, #FFFFFF);
        border-radius: 20px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
        padding: 25px;
        width: 300px;
        text-align: center;
        z-index: 999;
    }
}


/* ----------------------------------------------------- max-width:842px-------*/

@media screen and (max-width: 842px) {
    .hero-content {
        margin-left: 30px !important;
    }
}


/* ----------------------------------------------------- max-width:778px-------*/

@media screen and (max-width: 778px) {
    /* --------------------------.header start */
    .burger {
        display: flex !important;
    }
    .city {
        display: none;
    }
    .favorite {
        display: none !important;
    }
    /* ---------------------------header end--- */
    /* ---------------------------------------------her0 section start */
    .section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .heroBlock {
        display: none !important;
    }
    .heroContent1 {
        display: none;
    }
    .heroBefore {
        width: 100%;
        height: auto;
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .searchbarAfter {
        max-width: 375px;
        width: 100%;
        min-height: 249px;
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
    }
    .searchbarAfter2 {
        max-width: 375px;
        width: 100%;
        min-height: 202px;
        justify-content: space-between;
        border-radius: 29px;
        padding-top: 14px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        background: #6F64FE;
    }
    .searchbarAfter .how-link {
        display: flex !important;
        margin-top: 10px;
    }
    .optionss {
        max-width: 266px !important;
        width: 100%;
        min-height: 43px !important;
        gap: 20px;
    }
    .optionss .option-btn {
        border-radius: 16px;
        gap: 8px;
        padding-top: 13px;
        padding-right: 20px;
        padding-bottom: 13px;
        padding-left: 20px;
    }
    .search-bar button {
        border-radius: 16px;
        gap: 8px;
        padding-top: 13px;
        padding-right: 20px;
        padding-bottom: 13px;
        padding-left: 20px;
        display: block;
        background: #ffc107;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        font-weight: bold;
    }
    .VectorYellow {
        display: flex !important;
    }
    .popular-headerr {
        display: none !important;
    }
    .popular-headerrAfter {
        display: flex !important;
    }
    .fade-left {
        display: none !important;
    }
    .fade-right {
        display: none !important;
    }
    .slider-section {
        width: 100% !important;
        padding: 0px 0px !important;
        margin-top: 80px !important;
    }
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .cardMini {
        max-width: 176px;
        width: 100%;
        min-height: 226px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px !important;
        background: #f5f5ff;
        padding: 16px;
        border-radius: 16px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }
    .searchbarAfter2 {
        max-width: 375px;
        width: 100%;
        min-height: 202px;
        justify-content: space-between;
        border-radius: 29px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        background: #6F64FE;
        margin-top: 700px;
    }
    .imgPizza {
        max-width: 335px;
        width: 100%;
        min-height: 336px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        margin-top: 500px;
    }
}

@media screen and (max-width: 728px) {
    .hero-content {
        margin-left: 2px !important;
    }
}


/* .searchbarAfter2 {
    max-width: 375px;
    width: 100%;
    min-height: 202px;
    justify-content: space-between;
    border-radius: 29px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    background: #6F64FE;
    margin-top: 515px;
} */

.imgPizza {
    max-width: 335px;
    width: 100%;
    min-height: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    margin-top: 500px;
}


/* ------------------------------------------max-width 493px */

@media screen and (max-width: 493px) {
    section.hero {
        width: 100%;
        height: auto !important;
        position: absolute;
        margin-top: 620px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    a.how-link {
        display: none !important;
    }
    .VectorYellow {
        display: flex !important;
    }
    .searchbarAfter2 {
        max-width: 375px;
        width: 100%;
        min-height: 202px;
        justify-content: space-between;
        border-radius: 29px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        background: #6F64FE;
        margin-top: 685px;
    }
    .imgPizza {
        max-width: 335px;
        width: 100%;
        min-height: 336px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        margin-top: 500px;
    }
}


/* ----------------------------------------------------- max-width:419px-------*/

@media screen and (max-width: 419px) {
    /* -----------------------------------------hero section */
    .VectorYellow {
        display: flex !important;
    }
    .searchbarAfter2 {
        max-width: 375px;
        width: 100%;
        min-height: 202px;
        justify-content: space-between;
        border-radius: 29px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        background: #6F64FE;
        margin-top: 650px;
    }
    .imgPizza {
        max-width: 335px;
        width: 100%;
        min-height: 336px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        margin-top: 500px;
    }
}

@media screen and (max-width: 394px) {
    .searchbarAfter {
        max-width: 375px;
        width: 100%;
        min-height: 190px;
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        margin-top: 190px;
    }
    .searchbarAfter2 {
        max-width: 375px;
        width: 100%;
        min-height: 202px;
        justify-content: space-between;
        border-radius: 29px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        background: #6F64FE;
        margin-top: 110px;
    }
    .slider-wrapper {
        margin-top: 20px;
    }
    .cardMini {
        width: 148.21438598632812px;
        height: 190.79312133789062px;
    }
    .slider-btn1 {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        text-align: center;
        background: var(--Gray-1, #F3F2FF);
        padding: 15px 0;
        border-radius: 15px;
        text-decoration: none;
        color: #6F64FE;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    .columns-wrapper {
        overflow-x: scroll;
    }
    .horizontal-scroll .column {
        min-width: 80vw;
        max-width: 80vw;
    }
    .top-places {
        max-width: 375px;
        width: 100%;
        min-height: 760.3012084960938px;
        gap: 24px;
        padding-top: 60px;
        padding-right: 20px;
        padding-bottom: 60px;
        padding-left: 20px;
        background: var(--Gray-1, #F3F2FF);
        margin-top: 20px !important;
    }
    .swiper-slide {
        background: var(--Gray-1, #F3F2FF) !important;
    }
    .slider-section {
        margin-top: 150px !important;
    }
    .slider-btn2 {
        width: 335px;
        height: 48.30119323730469px;
        border-radius: 15.54px;
        gap: 5.8px;
        padding-top: 9.71px;
        padding-right: 13.6px;
        padding-bottom: 9.71px;
        padding-left: 13.6px;
        background: var(--White, #FFFFFF);
        font-weight: 600;
        font-size: 13.52px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #6F64FE;
        text-align: center;
    }
    .searchbarAfter .how-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .cardMini {
        max-width: 176px;
        width: 100%;
        min-height: 226px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        background: #f5f5ff;
        padding: 16px;
        border-radius: 16px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }
    .searchbarAfter2 {
        max-width: 375px;
        width: 100%;
        min-height: 202px;
        justify-content: space-between;
        border-radius: 29px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        background: #6F64FE;
        margin-top: 515px;
    }
    .imgPizza {
        max-width: 335px;
        width: 100%;
        min-height: 336px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        margin-top: 500px;
    }
}


/* ----------------------------------------------------- max-width:376px-------*/

@media screen and (max-width: 376px) {
    /* --------------------------.header start */
    .header {
        height: 56px !important;
    }
    .burger {
        display: block;
    }
    nav#mainNav {
        display: none;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-city,
    .user-section {
        gap: 12px;
    }
    .searchbarAfter2 {
        max-width: 375px;
        width: 100%;
        min-height: 202px;
        justify-content: space-between;
        border-radius: 29px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        background: #6F64FE;
        margin-top: 515px;
    }
    .imgPizza {
        max-width: 335px;
        width: 100%;
        min-height: 336px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        margin-top: 500px;
    }
    /* .searchbarAfter .how-link {
        display: flex !important;
        margin-top: 70px;
    } */
    .logo img {
        width: 128.28204345703125px;
        height: 33.1324462890625px;
        gap: 26.1px;
    }
    .profile img {
        width: 37.9999885559082px;
        height: 36.7741813659668px;
    }
    .profile span {
        display: none !important;
    }
    .swiper-slide {
        background: var(--Gray-1, #F3F2FF) !important;
    }
    .slider-section {
        margin-top: 150px !important;
    }
    .slider-btn2 {
        width: 335px;
        height: 48.30119323730469px;
        border-radius: 15.54px;
        gap: 5.8px;
        padding-top: 9.71px;
        padding-right: 13.6px;
        padding-bottom: 9.71px;
        padding-left: 13.6px;
        background: var(--White, #FFFFFF);
        font-weight: 600;
        font-size: 13.52px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #6F64FE;
        text-align: center;
    }
    .cardMini {
        max-width: 176px;
        width: 100%;
        min-height: 226px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        background: #f5f5ff;
        padding: 16px;
        border-radius: 16px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }
}

@media screen and (max-width:350px) {
    /* --------------------------.header start */
    .header {
        width: 100%;
        min-height: 55px !important;
        padding-top: 25px;
        padding-right: 60px;
        padding-bottom: 25px;
        padding-left: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px !important;
        padding: 12px 24px;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        position: relative;
    }
    .heroContent1 .h1 h1 {
        font-weight: 700;
        font-size: 19px !important;
        line-height: 0%;
        letter-spacing: 0%;
        text-align: center;
    }
    .optionss {
        max-width: 266px !important;
        width: 100%;
        min-height: 43px !important;
        gap: 20px;
    }
    .optionss .option-btn {
        border-radius: 16px;
        gap: 8px;
        padding-top: 13px;
        padding-right: 20px;
        padding-bottom: 13px;
        padding-left: 20px;
    }
    input[type="text"] {
        width: 254px;
        height: 42px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}